[submodule "build"]
	path = build
	url = git@github.com:rossigee/build.git
	branch = main
[submodule "provider-workflows"]
	path = provider-workflows
	url = https://github.com/crossplane-contrib/provider-workflows
	branch = main
