[submodule "build"]
	path = build
	url = https://github.com/rossigee/build
	branch = main
[submodule "provider-workflows"]
	path = provider-workflows
	url = https://github.com/crossplane-contrib/provider-workflows
	branch = main
